In [374]:
import sqlite3
import pandas as pd
import numpy as np
from pandas import DataFrame

In [375]:
conn = sqlite3.connect('sbmacro.db')

In [376]:
query1 = 'select name from sqlite_master where type = "table"'
q1_result = pd.read_sql_query(query1, conn)
q1_result

                      name
0                     casc
1                     item
2             problem_item
3                  project
4          assoc_casc_item
5     assoc_casc_prob_item
6       assoc_casc_project
7        assoc_casc_sbfile
8        assoc_item_sbfile
9          assoc_proj_item
10    assoc_proj_prob_item
11       assoc_proj_sbfile
12             fiscal_year
13           assoc_fy_item
14      assoc_fy_prob_item
15        assoc_fy_project
16         assoc_fy_sbfile
17  principal_investigator
18        assoc_PI_project
19                 sb_file
20                    user
21          master_details
22         project_details
23         alembic_version

In [377]:
items = pd.read_sql_query('select * from item', conn)
items.head(1)

,id,sb_id,url,timestamp,name,total_data,file_count,start_date,end_date,pub_date
0,1,595ff4ede4b0d1f9f0586856,https://www.sciencebase.gov/catalog/item/595ff...,2020-06-02 02:14:42.787221,Alaskan Arctic Coastal Plain NDVI trend (1999-...,0,0,No start date provided.,No end date provided.,2017

items = pd.read_sql_query('select * from item', conn)
items.head(1)

In [378]:
assoc = pd.read_sql_query('select * from assoc_item_sbfile', conn)
assoc.head(1)

   item_id  sbfile_id
0        4          1

In [379]:
sbfile = pd.read_sql_query('select * from sb_file', conn)
sbfile.head(1)

,id,url,timestamp,name,size,content_type
0,1,https://www.sciencebase.gov/catalog/file/get/5...,2020-06-02 02:15:38.334994,CTI_AKPCTR_NoFlowMask.tif,972652402.0,image/geotiff

In [380]:
masterdetails = pd.read_sql_query('select * from master_details', conn)

In [381]:
# STEP 1: connect masterdetails to items
item_ids = items.sb_id.values
masterdetails['item_id'] = masterdetails.sb_id.apply(lambda x: items[items.sb_id == x].id.values[0] if x in item_ids else '-')
masterdetails.head(1)

,id,sb_id,parentId,projectId,projectTitle,projectSize,num_files,start_date,end_date,pub_date,...,fy,url,xml_urls,relatedItemsUrl,title,summary,PI,CI,item_type,item_id
0,1,5818c1dfe4b0bb36a4c8806e,5424691de4b037b608f9ec9a,542468d5e4b037b608f9ec91,The Available Science Assessment Process (ASAP...,141811,1,,,2016,...,2014,https://www.sciencebase.gov/catalog/item/5818c...,,https://www.sciencebase.gov/catalog/itemLinks?...,Phase 3 Literature Review,The goal of the Available Science Assessment P...,,,dataset,244

In [382]:
# STEP 2: connect item id to sbfile id
assoc_ids = assoc.item_id.values
masterdetails['sbfile_id'] = masterdetails.item_id.apply(lambda x: assoc[assoc.item_id == x].sbfile_id.values[0] if x in assoc_ids else '-')
masterdetails.head(1)

/Users/smsawai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until

,id,sb_id,parentId,projectId,projectTitle,projectSize,num_files,start_date,end_date,pub_date,...,url,xml_urls,relatedItemsUrl,title,summary,PI,CI,item_type,item_id,sbfile_id
0,1,5818c1dfe4b0bb36a4c8806e,5424691de4b037b608f9ec9a,542468d5e4b037b608f9ec91,The Available Science Assessment Process (ASAP...,141811,1,,,2016,...,https://www.sciencebase.gov/catalog/item/5818c...,,https://www.sciencebase.gov/catalog/itemLinks?...,Phase 3 Literature Review,The goal of the Available Science Assessment P...,,,dataset,244,1826

In [383]:
# STEP 3: retrieve file type from sb_file table
sb_file_id = sbfile.id.values
masterdetails['file_type'] = masterdetails.item_id.apply(lambda x: sbfile[sbfile.id == x].name.values[0].split('.')[-1] if x in sb_file_id else '-')
masterdetails.head(2)

/Users/smsawai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  This is separate from the ipykernel package so we can avoid doing imports until

,id,sb_id,parentId,projectId,projectTitle,projectSize,num_files,start_date,end_date,pub_date,...,xml_urls,relatedItemsUrl,title,summary,PI,CI,item_type,item_id,sbfile_id,file_type
0,1,5818c1dfe4b0bb36a4c8806e,5424691de4b037b608f9ec9a,542468d5e4b037b608f9ec91,The Available Science Assessment Process (ASAP...,141811,1,,,2016,...,,https://www.sciencebase.gov/catalog/itemLinks?...,Phase 3 Literature Review,The goal of the Available Science Assessment P...,,,dataset,244,1826,xml
1,2,575f144ee4b04f417c2b065c,5424691de4b037b608f9ec9a,542468d5e4b037b608f9ec91,The Available Science Assessment Process (ASAP...,141811,1,,,2016,...,,https://www.sciencebase.gov/catalog/itemLinks?...,Fire Climate Adaptation Actions Definitions,Descriptions of fire-related climate adaptatio...,,,dataset,243,1825,tif

In [386]:
data = masterdetails[['fy', 'casc', 'file_type']]
data = data[data.file_type != '-']

In [333]:
data.groupby(['casc', 'file_type']).count()

                          fy
casc           file_type
Alaska CASC    tif         4
               xml         2
National CASC  csv        11
               dbf         1
               htm         1
...                       ..
Southeast CASC txt         6
               xml        20
Southwest CASC txt        46
               xlsx        2
               xml        11

[92 rows x 1 columns]

In [397]:
finaldata = data.groupby(['casc', 'file_type']).count().reset_index()

In [398]:
finaldata = finaldata.rename(columns = {'fy': 'total_count'})

In [407]:
finaldata

              casc file_type  total_count
0      Alaska CASC       tif            4
1      Alaska CASC       xml            2
2    National CASC       csv           11
3    National CASC       dbf            1
4    National CASC       htm            1
..             ...       ...          ...
87  Southeast CASC       txt            6
88  Southeast CASC       xml           20
89  Southwest CASC       txt           46
90  Southwest CASC      xlsx            2
91  Southwest CASC       xml           11

[92 rows x 3 columns]

In [447]:
cascs = list(set(finaldata.casc))
data = []
for i in range(len(cascs)):
    data1 = {
        "casc":cascs[i],
        "children":[
            {
                "type": "",
                "children": [
                    {
                        "content": "",
                        "children": []
                    }
                ]
            }
        ]
    }
    matched_data = finaldata[finaldata.casc == cascs[i]]
    filetypes = matched_data.file_type.values
    filecount = matched_data.total_count.values
    for j in range(len(filetypes)):
        data2 = {
            "filetype":filetypes[j],
            "value":filecount[j]
        }
        data1["children"][0]["children"][0]["children"].append(data2)
    data.append(data1)
data

[{'casc': 'Southwest CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'txt', 'value': 46},
       {'filetype': 'xlsx', 'value': 2},
       {'filetype': 'xml', 'value': 11}]}]}]},
 {'casc': 'Northwest CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'SLD', 'value': 3},
       {'filetype': 'aux', 'value': 1},
       {'filetype': 'clr', 'value': 1},
       {'filetype': 'csv', 'value': 2},
       {'filetype': 'dbf', 'value': 7},
       {'filetype': 'dir', 'value': 1},
       {'filetype': 'jpg', 'value': 3},
       {'filetype': 'ovr', 'value': 3},
       {'filetype': 'pdf', 'value': 1},
       {'filetype': 'prj', 'value': 3},
       {'filetype': 'rrd', 'value': 1},
       {'filetype': 'sbn', 'value': 2},
       {'filetype': 'sbx', 'value': 3},
       {'filetype': 'shp', 'value': 2},
       {'filetype': 'shx', 'value': 1},
       {'filetype': 'tfw', 'value': 4},
       {'filetype': 'tif', 'value': 6},
       {'filetype': 'txt', 'value': 99},
       {'filetype': 'xls', 'value': 1},
       {'filetype': 'xlsx', 'value': 8},
       {'filetype': 'xml', 'value': 29},
       {'filetype': 'zip', 'value': 1}]}]}]},
 {'casc': 'National CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'csv', 'value': 11},
       {'filetype': 'dbf', 'value': 1},
       {'filetype': 'htm', 'value': 1},
       {'filetype': 'inp', 'value': 1},
       {'filetype': 'jpg', 'value': 1},
       {'filetype': 'json', 'value': 1},
       {'filetype': 'mdb', 'value': 4},
       {'filetype': 'prj', 'value': 2},
       {'filetype': 'py', 'value': 3},
       {'filetype': 'rar', 'value': 23},
       {'filetype': 'sbn', 'value': 2},
       {'filetype': 'shp', 'value': 1},
       {'filetype': 'shx', 'value': 1},
       {'filetype': 'txt', 'value': 1},
       {'filetype': 'xlsx', 'value': 1},
       {'filetype': 'xml', 'value': 12},
       {'filetype': 'zip', 'value': 44}]}]}]},
 {'casc': 'Northeast CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'aux', 'value': 1},
       {'filetype': 'csv', 'value': 1},
       {'filetype': 'dbf', 'value': 2},
       {'filetype': 'htm', 'value': 1},
       {'filetype': 'inp', 'value': 1},
       {'filetype': 'prj', 'value': 1},
       {'filetype': 'rar', 'value': 14},
       {'filetype': 'rrd', 'value': 1},
       {'filetype': 'sbn', 'value': 1},
       {'filetype': 'sbx', 'value': 1},
       {'filetype': 'shp', 'value': 1},
       {'filetype': 'shx', 'value': 1},
       {'filetype': 'txt', 'value': 8},
       {'filetype': 'xml', 'value': 8},
       {'filetype': 'zip', 'value': 14}]}]}]},
 {'casc': 'Alaska CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'tif', 'value': 4},
       {'filetype': 'xml', 'value': 2}]}]}]},
 {'casc': 'South Central CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'csv', 'value': 2},
       {'filetype': 'dbf', 'value': 2},
       {'filetype': 'prj', 'value': 1},
       {'filetype': 'sbx', 'value': 1},
       {'filetype': 'shp', 'value': 1},
       {'filetype': 'shx', 'value': 1},
       {'filetype': 'txt', 'value': 28},
       {'filetype': 'xls', 'value': 1},
       {'filetype': 'xlsx', 'value': 4},
       {'filetype': 'xml', 'value': 8}]}]}]},
 {'casc': 'Southeast CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'SLD', 'value': 1},
       {'filetype': 'csv', 'value': 1},
       {'filetype': 'dbf', 'value': 1},
       {'filetype': 'prj', 'value': 3},
       {'filetype': 'sbn', 'value': 3},
       {'filetype': 'sbx', 'value': 3},
       {'filetype': 'shp', 'value': 3},
       {'filetype': 'shx', 'value': 3},
       {'filetype': 'tif', 'value': 8},
       {'filetype': 'txt', 'value': 6},
       {'filetype': 'xml', 'value': 20}]}]}]},
 {'casc': 'Pacific CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'txt', 'value': 25},
       {'filetype': 'xlsx', 'value': 1}]}]}]},
 {'casc': 'North Central CASC',
  'children': [{'type': '',
    'children': [{'content': '',
      'children': [{'filetype': 'dbf', 'value': 2},
       {'filetype': 'prj', 'value': 2},
       {'filetype': 'sbn', 'value': 1},
       {'filetype': 'sbx', 'value': 2},
       {'filetype': 'shp', 'value': 2},
       {'filetype': 'shx', 'value': 3},
       {'filetype': 'txt', 'value': 10},
       {'filetype': 'xlsx', 'value': 1},
       {'filetype': 'xml', 'value': 4},
       {'filetype': 'zip', 'value': 43}]}]}]}]

In [448]:
# convert to pandas dataframe
finaldata_df = pd.DataFrame(data)
finaldata_df.to_json('treemap_data.json', orient = 'records')